<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InfiniTweet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>InfiniTweetAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infinitweet WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4519BE1D1A83CB7000CE7D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4519BE271A83CB7000CE7D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B0D4F81A56590B00B4B500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B0D50D1A56590B00B4B500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45B0D5211A566D1A00B4B500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
